.katy-inspect-response-container {
    overflow-y: scroll;
    min-width: 150px;
    width: 1200px;
    min-height: 500px;
    height: 500px;
    max-width: 2000px;
    max-height: 650px;
    resize: both;
  }
table.outputgrid {
    border-collapse: separate;
    border-spacing: 10px;
    max-width: 100%;
  }
td {
	border: 1px solid blue;
	min-width: 170px;
	min-height: 170px;
	padding: 30px 10px 30px 10px;
	vertical-align: middle;
	font-size: .8em;
}  